.app {
    &-title {
        text-transform: uppercase;
        font-size     : 32px;
        text-align    : center;
        font-weight   : 600;

    }

    &-text {
        font-size: 18px;
    }

    &-icon {
        font-size: 48px;
    }

    &-row-container {
        height : 400px !important;
        padding: 50px 0 50px 0 !important;
    }

    &-backdrop {
        height             : 100vh;
        background-image   : url(https://images.unsplash.com/photo-1543269664-56d93c1b41a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
    }

    &-brand {
        background-color: black;
        opacity         : 0.8;

        p,
        span {
            color        : white;
            margin-bottom: 0 !important;
        }

        &-title {
            font-weight: 700;
            font-size  : 72px;
        }

        &-content {
            font-size: 24px;
        }

        &-button {
            a {
                text-decoration: none;
                color          : white;
            }

            background-color: transparent;
            width           : 250px;
            height          : 65px;
            color           : white;
            text-transform  : uppercase;
            font-size       : 18px;
            font-weight     : 600;

            &:hover {
                background-color: #606060FF;
            }
        }
    }

    &-content {
        background-image   : url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        text-align         : center;
        padding-left       : 200px !important;
        padding-right      : 200px !important;
        display            : flex;
        justify-content    : center;
        flex-direction     : column;
    }

    &-expertise {
        background-image   : url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;

        &-card {
            width           : 250px !important;
            height          : 250px !important;
            background-color: transparent;
            border          : 1px solid #606060FF;
            padding         : 10px;
            text-align      : center;

            &:hover {
                color           : white;
                background-color: #606060FF;
            }
        }
    }

    &-description {
        background-color: #606060FF;

        &-card {
            width           : 400px !important;
            height          : 300px !important;
            background-color: transparent;
            border          : 1px solid white;
            padding         : 10px;
            text-align      : center;
            display         : flex;
            justify-content : center;
            color           : white;
        }
    }

    &-hiw {
        background-color: #606060FF;

        p,
        i {
            color: white;

            &:hover {
                color: #D6ED17FF !important;
            }
        }

        i {
            font-size: 28px;
        }

        &-container {
            &-card {
                width              : 300px !important;
                height             : 200px !important;
                display            : flex;
                justify-content    : center;
                align-items        : center;
                flex-direction     : column;
                text-align         : center;
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : cover;
                border-radius      : 0 15px;
            }

            &-card:nth-child(1) {
                background-image: url(https://images.unsplash.com/photo-1557200134-90327ee9fafa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
            }

            &-card:nth-child(2) {
                background-image: url(https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
            }

            &-card:nth-child(3) {
                background-image: url(https://images.unsplash.com/photo-1581553673739-c4906b5d0de8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
            }

            &-card:nth-child(4) {
                background-image: url(https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
            }
        }

        &-index {
            position        : absolute;
            transform       : translate(5%, -180%);
            border          : 1px solid #606060FF;
            border-radius   : 50%;
            width           : 50px !important;
            height          : 50px !important;
            display         : flex;
            justify-content : center;
            align-items     : center;
            background-color: #D6ED17FF;
            color           : black !important;
            font-weight     : 700;
            z-index         : 1;
        }

        &-backdrop {
            background-color: black;
            width           : 100% !important;
            height          : 100% !important;
            opacity         : 0.9;
            display         : flex;
            justify-content : center;
            align-items     : center;
            flex-direction  : column;
            border-radius   : 0 15px;
            padding         : 1em;
        }
    }
}

// Mobile Screen
@media (max-width: 688px) {
    .app {
        &-title {
            font-size: 18px;
        }

        &-text {
            font-size: 12px;
        }

        &-row-container {
            height: unset !important;
        }

        &-brand {
            &-title {
                font-size: 24px;
            }

            &-content {
                font-size: 16px;
            }

            &-contact {
                flex-direction: column;  
                
                a {
                    button {
                        margin-right: 0 !important;
                    }
                }

                button {
                    margin-left: 0 !important;
                }
            }

            &-contact:nth-child(2) {
                margin-left: 0 !important;
            }

            &-button {
                height   : 35px;
                width    : 200px;
                font-size: 12px;
            }
        }

        &-content {
            padding: 20px !important;
        }

        &-description {
            flex-direction: column !important;
            padding       : 0.5em !important;

            &-card {
                margin: 0.5em !important;
                width : unset !important;
            }

            div {
                margin: 1em !important;
            }
        }

        &-expertise {
            &-container {
                flex-direction: column !important;
            }

            &-card {
                width : 300px !important;
                height: 150px !important;
                margin: 10px;
            }
        }

        &-hiw {
            &-container {
                flex-direction: column;

                &-card:nth-child(1),
                &-card:nth-child(2),
                &-card:nth-child(3) {
                    margin-bottom: 1.5em;
                }
            }

            &-index {
                width      : 35px !important;
                height     : 35px !important;
                font-weight: 500;
                transform  : translate(-430%, -265%);
                font-size  : 12px;
            }
        }
    }
}

// Tablet Screen
@media (max-width: 992px) and (min-width: 689px) {
    .app {
        &-title {
            font-size: 28px;
        }

        &-text {
            font-size: 16px;
        }

        &-row-container {
            height: unset !important;
        }

        &-brand {
            &-title {
                font-size: 36px;
            }

            &-content {
                font-size: 16px;
            }

            &-button {
                height   : 45px;
                width    : 200px;
                font-size: 14px;
            }
        }

        &-content {
            padding: 20px !important;
        }

        &-description {
            flex-direction: column !important;
            padding       : 0.5em !important;

            &-card {
                margin: 0.5em !important;
                width : unset !important;
            }

            div {
                margin: 1em !important;
            }
        }

        &-expertise {
            &-container {
                flex-direction: column !important;
            }

            &-card {
                width : 450px !important;
                height: 150px !important;
                margin: 10px;
            }
        }

        &-hiw {
            &-container {
                flex-direction: column;

                &-card {
                    width : 450px !important;
                    height: 200px !important;
                }

                &-card:nth-child(1),
                &-card:nth-child(2),
                &-card:nth-child(3) {
                    margin-bottom: 1.5em;
                }
            }

            &-index {
                width      : 35px !important;
                height     : 35px !important;
                font-weight: 500;
                transform  : translate(-430%, -265%);
                font-size  : 12px;
            }
        }
    }
}